.container {
  width: 44rem;
  height: 25em;
  position: relative;
}

img {
  width: 60%;
  height: auto;
  position: absolute;
  bottom: 1rem;
  left: 1rem;
  z-index: 2;
}

.description {
  width: 60%;
  position: absolute;
  top: 1rem;
  right: 1rem;
  z-index: 1;
  background-color: white;
  box-sizing: border-box;
  border: 2px solid lightgray;
  border-radius: 5px;
}

.about-nature {
  width: 50%;
  margin-left: auto;
  padding: 2rem;
}

.about-nature h1::before {
  content: "";
  display: block;
  width: 40px;
  height: 3px;
  background-color: lightgrey;
}

p {
  margin-bottom: 2rem;
}

.btn {
  border-radius: 5px;
  border-color: lightgray;
  font-size: 0.5rem;
  font-weight: bold;
  padding: 0.5rem 1rem;
}
